$white: #ffffff;
$black: #1a1a1a;
$light_grey: #9e9e9e;
$purple: #dcdcfe;
$purple_text: #4B486F;
p {
  font-family: "Montserrat", sans-serif;
}

.content_item.active {
  background: $purple;
  color: $purple_text;
}

.new_request_btn.active {
  background: $purple;
  color: $purple_text;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background: $white;
  width: 18%;
  height: 88vh;
  box-shadow: 0px 4px 10px rgb(26, 26, 26, 0.25);
  border-radius: 30px;
  align-items: center;
  padding: 1.5% 0;

  .sidebar_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-bottom: 1px solid #EDEDED;
    .name_user {
      margin-top: 2vh;
      color: $black;
      font-size: 1em;
      font-weight: 600;
      text-align: center;
    }
    .position {
      margin-top: -1.5vh;
      color: $light_grey;
      font-size: 0.85em;
      font-weight: 400;
      letter-spacing: 0%;
      text-align: center;
    }
  }
  .sidebar_content {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding-left: 5%;
    .collapse{
        display: flex;
        p{
            flex-grow: 1;
        }
    }
    .content_item {
      display: flex;
      align-items: center; /* Центрируем элементы */
      gap: 10px;
      width: 92%;
      transition: background 0.1s ease-in-out;
      padding: 2.5%;
      border-radius: 10px;
      transition: margin 0.1s ease-in-out;
      &:hover {
        background: #f2f2ff;
        color: $purple_text;
        margin-left: 2%;
        width: 94%;
      }

      p {
        margin: 0;
        align-self: flex-end; /* Выровнять текст по нижней границе изображения */
        font-size: 1em;
      }
      
    }
    img {
      max-width: 60px;
      display: block; /* Чтобы исключить влияние inline-стилей изображения */
    }
  }
  .sidebar_footer {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #EDEDED;
   align-items: center;
    .new_request_btn{
        border: 1.5px solid #766BF8;
        border-radius: 5px;
        background: transparent;
        color: #67618E;
        width: 100%;
        margin-top: 4%;
        font-weight: 600;
        transition: (background, color) 0.1 ease-in-out;
        &:hover{
            background: #766BF8;
            color: white
        }
        &:focus{
          box-shadow: none;
        }
        // margin: 0 auto;
    }
    .logout{
        color: #C9C9C9;
        outline: none;
        text-decoration: none;
        transition: color .1s ease-in;
        
        &:hover{
            color: #67618E;
        }
    }
  }
}

.workspace {
  
  width: 70vw;
  h4.description{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }
  input{
    width: 100%;
    border-radius: 10px;
    background: #F6F6F6;
    padding: 8px 2%;
    margin-top: 1%;
    &::placeholder{
      color: #808080;
      text-align: left;
    }
  }
  .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4%;
    gap: 2vh;
    .application_item{
      background: white;
      box-shadow: 0px 4px 10px rgba(26, 26, 26, 0.25);
      border-radius: 20px;
      padding: 4%;
      font-weight: 600;
      font-size: 1em;
      height: 15vh;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      &:hover{
        transform: translate(0, -5px);
      }
    }
  }
}
@media screen and (max-width: 1750px) {
    .sidebar{
        width: 20vw;
    }
  }
.disabled{
  background: lightgray !important;
}

th{
  background: #E9ECEF !important;
  color: #49507E !important;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f4f4f4;
    color: #333;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  .custom-success {
    background-color: #d4edda !important;
  }

  .custom-danger {
    color: red !important;
    font-weight: bold;
  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    
    .page-item {
      margin: 0 0.25rem;

      &.active a {
        background-color: #007bff;
        color: white;
      }

      &.disabled a {
        pointer-events: none;
        background-color: #f0f0f0;
      }

      .page-link {
        padding: 0.5rem 0.75rem;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        color: #007bff;
        text-decoration: none;
      }
    }
  }
}
.tab-content,
#__BVID__60__BV_tab_container_{
    background: lightcoral !important;
    width: 100vw !important;
}