
.button {
  color: white;
  border: none;
  outline: none;
  /* width: 130px; */
  height: 20px;
  letter-spacing: 1px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;

}
button {
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  border-radius: 7px;
  border: none;
  cursor: pointer !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  font-family: 'Montserrat', sans-serif;
}

/* button:hover {
  opacity: 0.8;
  background: rgb(196, 196, 196);
} */
.Delete {
  background: rgb(231, 76, 60, 0.7);
}

.Delete:hover {
  background: rgb(181, 50, 36, 0.7);
  cursor: pointer;
}
.inActive {
  background: #E5E5E5;
  cursor: pointer;
  color: #888888;
}
.inActive:hover{
   background: #E5E5E5 !important;
   border-radius: 7px;

}
.Request {
  background: #007BFF;
}

.Request:hover {
  background: #2990ff;
  cursor: pointer;
}

.Accept {
  background: #158127;
  border-radius: 7px;

}

.Accept:hover {
  background: #10691f;
  cursor: pointer;
  border-radius: 7px;

}

.Action {
  background: #494949;
  height: 60px;
  cursor: pointer;
}

.Action:hover {
  background: #7e7e7e;
  cursor: pointer;
}

.Cancel {
  background: #2c3e50;
}

.Cancel:hover {
  background: #22303d;
  cursor: pointer;
}
.icon-active:hover {
  height: 105% !important;
  max-height: 35px !important;
  /* width: 35px !important; */

}
h2 {
  text-align: center;
  padding-top: 2%;
}

#loading-page-lk {
  width: 100vw;
  height: 100vh;
  background: rgb(17, 17, 17, 0.1);
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999999999999;
}

#loading-page-lk svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 15%;
}

input,
label {
  cursor: pointer;
}

.wrapper-success,
.wrapper-alert {
  margin: 50px;
  position: fixed;
  top: 0;
  z-index: 999999999999999999999999999 !important;
}

.wrapper-success .card {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  padding: 10px 20px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid #4caf50;
  border-radius: 3px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-alert .card {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  padding: 10px 20px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid #ed5e68;
  border-radius: 3px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-success .wrapper-alert .card .subject {
  margin-right: 10px;
}

.wrapper-success .wrapper-alert .card .subject p {
  color: #909092;
}

@media screen and (max-width: 550px) {
  .wrapper-success .wrapper-alert {
    width: 90%;
    margin-left: 5%;
  }
}

.all-label {
  color: rgb(76, 76, 76);
  padding-top: 1%;
}

option select {
  cursor: pointer !important;
}

input[type="text"] {
  border: none !important;
  /* border-bottom: 1px solid black !important; */
  outline: none !important;
  color: #757575;
}

/* input[type="text"]:focus {
  border-color: rgb(0, 0, 0) !important;
} */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(../assets//Caret_down_font_awesome_whitevariation.svg.png)
      no-repeat right 0.8em center/1.4em,
    linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  /* background: #E6E6E6; */
  color: #000000;
  border-radius: 0.25em;
  border: #8a8a8a 0.1rem solid;
  /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
  cursor: pointer;
}

select option {
  color: black;
  background-color: #e6e6e6;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

/* Поля Input */
.bg {
  background-color: #efefef;
  text-align: center;
  display: block;
  justify-items: center;
  margin: 5% 0;
}

.label {
  position: absolute;
  transform: translate(-9.8rem, -3.8rem);
  font-size: 1rem;
  padding: 0 5px;
  background-color: #efefef;
  color: #757575;
}

.textarea {
  position: relative;
  border-radius: 0.4rem;
  background-color: #efefef;
  border: #bdc3c7 0.1rem solid;
  width: 20rem;
  height: 3rem;
  padding: 0rem 1rem;
  font-size: 1.4rem;
  font-size: 15px;
}

.textarea:focus {
  outline: none;
  border: #303030 0.1rem solid;
}

/* ТАБЛИЦЫ */
table {
  table-layout: fixed;
}

th {
  width: 200px;
  height: 20px;
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  z-index: 2 !important;
}

td {
  width: 250px;
  height: 20px;
  vertical-align: middle;
  padding: 0 !important;
  vertical-align: middle !important;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  cursor: pointer !important;
  color: #757575 !important;
  z-index: 0 !important;
}

/* Цвет выбранного ТАБА */
.nav-pills .nav-link.active {
  background: #2c3e50 !important;
  color: white;
}
/* .nav-link{
  background: #2c3e50 !important;
  color: white;
  margin-top: 4%;
}
.nav-link:hover{
  background: #496683 !important;
  color: white;

}
.nav-link.active:hover {
color: white
} */
.amount{
  color:#909092;
  line-height: 10px;
}
