

.TableHeader{
    position: sticky;
    top: 0;
    background: rgb(235, 235, 235);
    border: 1px solid black !important;
    margin-top: -1px;
}
.ClientRow{
    font-weight: 600;
    background: rgb(221, 238, 238);
}
.RowAlphabet{
    background: #FFD453;
}
.Total_1{
    background: #FDFFD9;
}
.Total_1 td{
    font-weight: 500;
}
.Total_2{
    background: #DDFACE;
   
}
.Total_2 td{
    font-weight: 500;
    font-size: 18px;
}
.Total_blue{
    background: #DAEEF3;
}
.GrandTotal{
    background:#dfdfdf;
}
.GrandTotal td{
    font-weight: 700;
}
.active_row{
    background: rgb(226, 226, 226);
}

/* td,
th {
    white-space: nowrap;
    padding: 0 10px !important;
} */

/* tr>td:first-child {
    text-align: left !important;
} */

/* tr:hover {
    background: lightcyan;
} */

tr,
td,
th {
    border: 1px solid black
}

div:hover {
    cursor: pointer;
}